/* indent flowed lines of task items so the checkboxes look clean */
.markdown-preview-view li.task-list-item {
  padding-left: 40px;
  text-indent: -25px;
}

.markdown-preview-view li.task-list-item input {
  margin-right: 10px;
  border:       1px solid #c7c7c7;
}

/* ...but don't indent non task-list-item list items */
.markdown-preview-view li {
  padding-left: 0px;
  text-indent:  0px;
}
